streamlit==1.9.0
yahoo-fin==0.8.9.1
yfinance==0.1.70
yahoo-fin==0.8.9.1
pandas==1.4.1
pandas-datareader==0.10.0
stocker==0.1.11
stockstats==0.4.1
dataframe-image==0.1.1
DateTime==4.4
requests==2.27.1
beautifulsoup4==4.10.0
